*{
    box-sizing: border-box;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

img{
    width: 100%;
}

.hero {
    background-image: url("/images/copa-de-vino-portada-1024x478.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 75vh; /* Establece una altura mínima para asegurar que el contenido sea visible. */
    border-bottom: 15px solid ;
    
  }

  main{ 
    background-attachment: fixed;
    padding-bottom: 50px;
    max-width: 2500px;
	width: 90%;
    margin: auto;
  }

.hero p{
    color: beige;
    font-size: 30px;
    padding: 20px;
    font-weight: 900;
}

/*-----Seccion carrousel compra por bodega----- */

.carrousel-item{
    transition: all 0.30s ease-in-out;
}

.carrousel-item:hover{
    transform: translateY(-7px);
}

.glider-contain{
    margin: 25px 0;
}

.glider img {
    padding-bottom: 18px;
}


/*-----Seccion carrousel productos----- */

h2{
    padding-top: 25px ;
    text-align: center;

}


.carrousel-container{
    position: relative
}

.carrousel-anterior,.carrousel-anterior-featured,
.carrousel-siguiente,.carrousel-siguiente-featured {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #965b72;
	opacity: 20%;
}

.carrousel-anterior:hover,
.carrousel-anterior-featured:hover,
.carrousel-siguiente:hover,
.carrousel-siguiente-featured :hover{
	opacity: 100%;
}


.carrousel-anterior-featured,.carrousel-anterior{
    left: -30px;
}

.carrousel-siguiente-featured, .carrousel-siguiente{
    right: -30px;
}

.carrousel-item{
    text-align: center;
}

.carrousel-item{
    margin: 18px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4); 
    padding: 10px;
}

.desc-product{
    margin: 0 0 3px 0
}

.price-product{
    margin: 0 0 6px 0;
    font-size: 20px;
}

.products-button{
    margin: auto 0;
    padding: 4px;
    background-color: #965b72;
    width: 30%;
    margin: auto;
    opacity: 0.5;
    transition: all 0.45s;
}

.products-button:hover{
   opacity: 1;
}

.products-button a { 
    text-decoration: none;
    color: #ffffff;
}


/*------Boton wsp ----- */

.btn-wsp {
    display: none;
}





/* ------ Media Querys ------*/

@media (min-width: 500px){
    .footer-container{
        justify-content: space-between;
        padding: 30px 15px;
        
    }
    .footer-container i{
        font-size: 26px;
    }
    .btn-wsp {
        display: inline;
        position: fixed;
        width: 75px;
        height: 75px;
        line-height: 75px;
        bottom: 60px;
        right:30px;
        background-color: #0df053;
        color: #ffffff;
        border-radius: 50px;
        text-align: center;
        font-size: 30px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
        z-index: 10;
        transition: all 0.45s;
    }
    
    .btn-wsp:hover {
        color: #0df053;
        background-color: #fff;
    }
}


@media (min-width: 700px){
    
    h2{
        text-align: left;
        margin-left: 15px;
    }

    .desc-product{
        font-size: 1.1em;
    }
    
    
    .footer-container{
        justify-content: space-between;
        padding: 30px 50px;
        
    }
    .footer-container i{
        font-size: 22px;
    }
}