<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metadatos-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Titulo-->
    <title>Dark Side Wines</title>
    
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="./images/943026.png">
   
    <!-- Estilos personalizados CSS-->
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/normalize.css">

    <!-- Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
 
    <!-- Fuente Google fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
</head>
    <header>
        <!-- Barra de navegacación-->

        <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">DarkSide Wines</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contacto</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categorias
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Tinto</a></li>
                      <li><a class="dropdown-item" href="#">Blanco</a></li>
                      <li><a class="dropdown-item" href="#">Rosado</a></li>
                      <li><a class="dropdown-item" href="#">Espumante</a></li>
                    </ul>
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="bi bi-cart-plus"></i></a>
                    </li>
                        
                    </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2 " type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success custom-search-button" type="submit">Search</button>
                </form>

                <ul class="navbar-nav custom-margin">
                    <li class="nav-item">
                      <a class="nav-link" href="#">Registrarse</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Iniciar Sesión</a>
                    </li>
                  </ul>

              </div>
            </div>
        </nav>
         
    </header>

    <body>
        <section class="hero">
            <p>Todo lo mejor en vino, lo encontras aca</p>
        </section>

        <main>
        <h2 class="h2-article">Destacados</h3>
        <section class="products-container">
            <article class="product">
                <div class="img-container">
                    <img src="./images/salentein-blancdeblancs.jpg">
                </div>  
                <p class="desc-product">salentein blanc de blancs 750ml</p>
                <p class="price-product">$3600</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="./images/tintonegro.jpg">
                </div>  
                <p class="desc-product">Tinto negro uco rose 750ml</p>
                <p class="price-product">$4500</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="./images/nietose.jpg">
                </div>  
                <p class="desc-product">Nieto Senetiner brut nature </p>
                <p class="price-product">$4500</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="./images/Rutini-Malbec.jpg">
                </div>  
                <p class="desc-product">Rutini malbec 750ml</p>
                <p class="price-product">$4500</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>  
        </section>
    
        <h2 class="h2-article">En oferta</h3>
        <section class="products-container">
            <article class="product">
                <div class="img-container">
                    <img src="./images/Rutini-Malbec.webp">
                </div>  
                <p class="desc-product">Rutini malbec 750ml</p>
                <p class="price-product">$4500</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="./images/Trumpeter-Malbec.webp">
                </div>  
                <p class="desc-product">Rutini malbec 750ml</p>
                <p class="price-product">$4500</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="./images/Rutini-Malbec.webp">
                </div>  
                <p class="desc-product">Rutini malbec 750ml</p>
                <p class="price-product">$4500</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>
            <article class="product">
                <div class="img-container">
                    <img src="./images/Rutini-Malbec.jpg">
                </div>  
                <p class="desc-product">Rutini malbec 750ml</p>
                <p class="price-product">$4500</p>
                <div class="products-button">
                    <a href="#">Detalle</a> <a href="#">Agregar al carrito</a>
                </div>
            </article>  
        </section>
        </main>

        <%- include ("./partials/footer") %> 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>