
<link rel="stylesheet" href="/css/footer/footer.css">

<footer class="footer-container">
        <section class="contact">
            <p>Contacto: 3416-020014</p>
            <p>Correo Electrónico: darksidewines@gmail.com</p>
            <p>Calle inventada 123</p>
        </section>
    
        <section class="bottom-footer">
            <div>© 2023 Company, Inc</div>
            <div>
                <span><i class="bi bi-instagram"></i></span>
                <span><i class="bi bi-twitter"></i></span>
                <span><i class="bi bi-whatsapp"></i></span>
                <span></span>
            </div>
        </section>
       
</footer> 