*{
    box-sizing: border-box;
}


main{
    background-image: url('../../images/fondo-madera-marron.jpg');    
    background-attachment: fixed;
    padding-bottom: 50px;
    border-top: 15px solid ;
} 


/* ------ Detalle producto -------- */
h1 {
    font-size: 2em;
}

main {
    padding: 20px;
}

.detalle-producto {
    text-align: center;
    border: 3px solid;
    padding: 20px;
    max-width: 800px;
    margin: 30px auto; /* Centra horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra verticalmente */
    background-color: #fff;
}

.detalle-producto img {
    max-width: 100%; /* La imagen no superará el ancho de su contenedor */
    max-height: 300px; /* Establece una altura máxima para la imagen */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    display: block; /* Elimina el espacio adicional debajo de la imagen */
    border-radius: 5px;
    transition: all 0.90s;
}

.detalle-producto img:hover {
    object-view-box : inset(20%);
}


h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

p {
    font-size: 1em;
    color: #777;
    margin: 10px 0;
}

.precio {
    font-size: 1.7em;
    color: #007bff; /* Color de enlace */
}


/*------ cantidad de producto a agregar al carrito -------- */

.cantidad-producto {
    display: flex;
    align-items: center;
    padding-left: 15px;
}


.btn-cantidad {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 1em;
    cursor: pointer;
}

#cantidad {
    width: 50px;
    text-align: center;
}

.flexbox-price{
    display: flex;
    justify-items: center;
    margin-bottom: 20px;
}

/* Estilos para el botón "Agregar al carrito" */

.comprar {
    background-color: #965b72; /* Color de botón */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.45s;

}

.comprar:hover{
    opacity: 1;
}

.edit-delete{
    padding: 20px;
    display: flex;
    text-align: center;
}

.buttonDelete{
    background-color: red;
    color: #fff;
    margin-right: 10px ;
}

.buttonEdit {
    background-color: #007bff;
}

.buttonEdit a{
    text-decoration: none;
    color: #fff
}