*{
    box-sizing: border-box;
}

img{
    width: 100%;
}



.hero {
    background-image: url("/images/copa-de-vino-portada-1024x478.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 85vh; /* Establece una altura mínima para asegurar que el contenido sea visible. */
  }

  main{
    background-image: url('/images/fondo-madera-marron.jpg');    
    background-attachment: fixed;
    padding-bottom: 50px;
    border-top: 15px solid ;
  }

.hero p{
    color: beige;
    font-size: 30px;
    margin: auto;
    font-weight: 900;
    padding-left: 20px;
}

/*-----Barra de busqueda----- */

.search-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    width: 90%;
    height: 40px;
    margin: 16px auto     
}

#form-search{
    display: flex;
}

#search-input {
    border: none;
    padding: 10px;
    flex: 1;
    width: 90%;
}

#search-button{
    border: none;
    border-left: solid 1px #D2691E;
    cursor: pointer;
    width: 40px;
}



/*-----Seccion productos----- */

.h2-article{
    padding: 20px 25px;
    color: #B8860B;
    text-align: center;
}


.search-input{
     
    text-align: center;
    padding: 15px;
    border-radius: 5px;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.product{
    
    border-radius: 8px; 
    width: 44%;
    margin: 10px 0;
    padding: 18px;
    transition: all 0,3ms;
}

.product:hover{ 
        box-shadow: 0 0 10px rgb(100,100,100);
}



.desc-product{
    padding-top: 10px;
    margin-bottom: 0;
    color: #fff;
    font-size: 0.8em;
    font-weight: bolder;
}

.price-product{
    color: #fff;
    font-size: 1.1em;
    font-weight: bolder;
}

#price-product{
    text-decoration: line-through;
    color: #965b72;
}

.products-button a{
    text-decoration: none;
    padding: 3px;
    background-color: #965b72;
    color: aliceblue;
    margin-bottom: 46px;
    margin-right: 15px;
}

.products-button a:hover{
    background-color: aliceblue ;
    color: #965b72;
    font-weight: bolder;
}

.a-ofertas{
    padding: 26px;
    font-size: 20px;
    color: #965b72;
    font-weight: bold;
}



/* ------ Media Querys ------*/


@media (min-width: 650px){
    .hero p{
        font-size: 45px;
        margin: auto;
        padding: 70px;
    }

    .search-container {
        
        width: 50%;    
    }

    .product{
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 2); 
        border-radius: 8px; 
        padding: 14px; 
        width: 28%;
        margin-bottom: 38px;
    }
    
    .desc-product{
        color: #fff;
        font-size: 1.1em;
    }

    .a-ofertas{
        padding: 26px;
        font-size: 20px;
        color: #965b72;
        font-weight: bold;
    }

    .h2-article{
        padding: 20px 32px;
        color: #B8860B;
    }
    
  
}


@media (min-width: 950px){
    
    .product{
        width: 22%;
    }
    
}

@media (min-width: 1200px){
    .search-container {
        margin: 0 0 50px 40px;

        width: 30%;    
    }
    .product{
        width: 18%;
    }
    .a-ofertas{
        padding: 120px;
        font-size: 17px;
    }
   
  
}